#### 데이터 임포트

In [163]:
import pandas as pd
yeonhee = pd.read_csv("../data/output_cafelist/output_cafelist_연희동.csv")
mangone = pd.read_csv("../data/output_cafelist/output_cafelist_망원동 오후 5.16.47.csv")
yeonnam = pd.read_csv("../data/output_cafelist/output_cafelist_연남동.csv")
seongsu = pd.read_csv("../data/output_cafelist/output_cafelist_성수동.csv")
hannam = pd.read_csv("../data/output_cafelist/output_cafelist_한남동.csv")

#### 연희동 이상데이터 처리

In [164]:
yeonhee

,카페ID,카페이름,방문자리뷰,블로그리뷰,주소
0,1.233282e+09,Poke all day 포케&샐러드 연희점,927,6,서울 서대문구 연희로15길 39 1층
1,1.826959e+09,스웨이커피스테이션,1082,6,서울 서대문구 연희로11길 61
2,1.032580e+09,프로토콜 연희점,474,1004,서울 서대문구 연희로 109 2층
3,1.677856e+09,보연희,473,295,서울 서대문구 연희맛로 17-63 2층
4,3.654373e+07,푸어링아웃,443,928,서울 서대문구 연희로11나길 7-7 반지층 카페 (푸어링아웃)
...,...,...,...,...,...
212,1.653542e+09,카페드댕,424,587,"서울 마포구 동교로 269 1층, 2층"
213,3.575136e+07,리히트,1042,587,서울 서대문구 연희로4길 10 리히트
214,1.602152e+09,하우스오브바이닐 연남점,48,36,서울 마포구 동교로 230 지1층
215,1.154933e+09,커피하우스,127,81,서울 마포구 동교로46길 25 1층
216,1.346475e+09,오버딥,287,160,"서울 마포구 성미산로 149-8 2, 3층, 루프탑"

In [165]:
yeonhee_na_rows = yeonhee[yeonhee['카페ID'].isna()]

In [166]:
yeonhee_na_rows

     카페ID            카페이름  방문자리뷰  블로그리뷰                       주소
148   NaN          전통찻집다향      7      7     서울 서대문구 연희맛로 34 남강빌딩
154   NaN     MUSEUM CAFE      9      9        서울 서대문구 연희로32길 51
159   NaN           유어브레드     15      5          서울 서대문구 연희로 109
160   NaN  Sous Le Theier     15      5          서울 서대문구 성산로 291
169   NaN            CO끼리    621    105  서울 서대문구 연희로31길 24-12 1층
170   NaN            부향식품    621    105        서울 서대문구 연희로26나길 9

In [167]:
# 문제점: 해당 카페에 리뷰가 존재하지 않는 경우 카페 고유 ID를 못받아옴
# 해결방안: 리뷰가 없는 카페가 얼마 없으니 직접 PC 뷰로 들어가 찾음

# 전통찻집다향: 36547602
# MUSEUM CAFE: 1887301004
# 유어브레드: 1015572082
# Sous Le Theier: 1470436838
# CO끼리: 1990953407
# 부향식품: 18257972

In [168]:
na_cafe_id = {
  '전통찻집다향': 36547602,
  'MUSEUM CAFE': 1887301004,
  '유어브레드': 1015572082,
  'Sous Le Theier': 1470436838,
  'CO끼리': 1990953407,
  '부향식품': 18257972
}

In [169]:
for cafe_name, cafe_id in na_cafe_id.items():
    # 주어진 카페이름에 해당하는 행 찾기
    cafe_row = yeonhee[yeonhee['카페이름'] == cafe_name]
    
    # 해당 행이 존재하는 경우 값 변경
    if not cafe_row.empty:
        index = cafe_row.index[0]
        yeonhee.at[index, '카페ID'] = cafe_id
        yeonhee.at[index, '방문자리뷰'] = 0
        yeonhee.at[index, '블로그리뷰'] = 0

In [170]:
# 확인
cafe_check = yeonhee[yeonhee['카페이름'] == "전통찻집다향"]
print(cafe_check)

           카페ID    카페이름  방문자리뷰  블로그리뷰                    주소
148  36547602.0  전통찻집다향      0      0  서울 서대문구 연희맛로 34 남강빌딩

In [171]:
# 다른 지역의 카페를 수집한 경우 처리
# '서울 서대문구' 또는 '서울 마포구'가 아닌 행 선택
invalid_address_rows = yeonhee[~yeonhee['주소'].str.contains('서울 서대문구|서울 마포구')]
print(len(invalid_address_rows))
print(invalid_address_rows)
# 행 삭제
yeonhee = yeonhee.drop(invalid_address_rows.index)

14
             카페ID     카페이름  방문자리뷰  블로그리뷰  \
12   2.105252e+07    폴앤폴리나   1071     29
37   2.108908e+07    알레스구떼   1117     78
54   1.984355e+09    하니앤손스    352    180
65   1.706129e+09       래인    736     52
78   1.640225e+09     공간커피    287     27
87   1.273878e+09     루카카페    165    260
118  1.645258e+09       녹다    239    173
132  1.279947e+07     더클래식    551     60
147  1.673576e+09      아지트      7      7
151  1.877665e+09     커피나루     23      1
162  2.174300e+08   언더그라운드    231    241
164  1.299027e+07      에이치     45      9
166  1.500626e+09  카페 그레이스    122     14
168  1.536331e+09     라온카페    621    105

                                             주소
12                    서울 영등포구 의사당대로 108 아일렉스 상가
37                              경기 하남시 덕풍북로 109
54                              서울 양천구 신목로2길 68
65                     인천 미추홀구 미추홀대로733번길 15 1층
78                         경북 구미시 경은로 30 1층 다가감
87                             서울 강남구 압구정로4길 19
118                        서울 용산구 대사관로34길 21 2층
132                      서울 강남구 학동로 206 동화빌딩 5층
147                         충남 공주시 제민1길 4 제민1길4
151  경기 과천시 과천대로7길 26 B타워 지하1층 B103,B104, B105호
162                     서울 서초구 강남대로53길 11 지하 1층
164       경기 의정부시 평화로 170 동인빌딩 6,7,8층 fitness H
166                            서울 중구 세종대로19길 16
168        인천 남동구 남동대로733번길 55-6 도담로즈빌 1층 피트인커피

#### 망원동 이상데이터 처리

In [172]:
mangone_na_rows = mangone[mangone['카페ID'].isna()]

In [173]:
mangone_na_rows

     카페ID            카페이름  방문자리뷰  블로그리뷰                주소
178   NaN         고망고 망원점     93    226               NaN
264   NaN  퐁치 커피익스프레스 망원점      6      1  서울 마포구 망원로 72 1층

In [174]:
# 원인을 모르겠으나 못긁어와서 직접 확인
mangone.loc[mangone['카페이름'] == "고망고 망원점", '카페ID'] = 1792676925
mangone.loc[mangone['카페이름'] == "고망고 망원점", '방문자리뷰'] = 2131
mangone.loc[mangone['카페이름'] == "고망고 망원점", '블로그리뷰'] = 76

# 리뷰가 없어서 저장안된 카페
mangone.loc[mangone['카페이름'] == "퐁치 커피익스프레스 망원점", '카페ID'] = 1717391085
mangone.loc[mangone['카페이름'] == "퐁치 커피익스프레스 망원점", '방문자리뷰'] = 0
mangone.loc[mangone['카페이름'] == "퐁치 커피익스프레스 망원점", '블로그리뷰'] = 0

In [175]:
# 확인
cafe_check = mangone[mangone['카페이름'] == "퐁치 커피익스프레스 망원점"]
print(cafe_check)

             카페ID            카페이름  방문자리뷰  블로그리뷰                주소
264  1.717391e+09  퐁치 커피익스프레스 망원점      0      0  서울 마포구 망원로 72 1층

In [176]:
# 다른 지역의 카페를 수집한 경우 처리
# '서울 마포구'가 아닌 행 선택
mangone = mangone.dropna(subset=['주소'])
invalid_address_rows = mangone[~mangone['주소'].str.contains('서울 마포구')]
print(len(invalid_address_rows))
print(invalid_address_rows)
# 행 삭제
mangone = mangone.drop(invalid_address_rows.index)

8
             카페ID  카페이름  방문자리뷰  블로그리뷰                                    주소
23   1.469082e+09    당도    113      5                충남 서산시 예천1로 28 유플라자 1층
66   1.258654e+09   카페엠    167      7         대전 유성구 진잠로106번길 5-11 1층 엠시드카페
165  1.259932e+09  카페하임    132    129            서울 광진구 천호대로129길 40 2층 카페하임
218  1.706990e+09  카페오후     47     25                 서울 종로구 낙산1길 22-1 지하1층
235  1.240636e+09   블랭크      6      3                  서울 강남구 도산대로81길 39 3층
257  1.827846e+09   수커피     22     13     충남 천안시 서북구 한들3로 70 근린생활시설 1동 105호
265  1.930719e+09  와우살롱      4    110            서울 서대문구 거북골로 45 지하와우점핑다이어트
270  1.339075e+09   레스트     14      4  경기 파주시 경의로 1046 이더펠리체 201호 노브랜드버거 건물

#### 연남동 이상데이터 처리

In [177]:
# 연남동 확인
yeonnam_na_rows = yeonnam[yeonnam['카페ID'].isna()]
yeonnam_na_rows

Empty DataFrame
Columns: [카페ID, 카페이름, 방문자리뷰, 블로그리뷰, 주소]
Index: []

In [178]:
# 다른 지역의 카페를 수집한 경우 처리
# '서울 마포구'가 아닌 행 선택
invalid_address_rows = yeonnam[~yeonnam['주소'].str.contains('서울 마포구')]
print(len(invalid_address_rows))
print(invalid_address_rows)
# 행 삭제
yeonnam = yeonnam.drop(invalid_address_rows.index)

10
           카페ID   카페이름  방문자리뷰  블로그리뷰                                       주소
57   1538902857   그림카페     68    139                        서울 강남구 압구정로46길 77
74   1774349050     시계     55     60                 서울 은평구 수색로 200 4BL동 116호
133  1084359942     히비    860    232                      서울 용산구 백범로87길 24 1층
175  1963625418     환대     74     32               경기 고양시 덕양구 무원로54번길 7-19 1층
183  1518287138   루트커피      1      1                        전남 화순군 화순읍 만연로 27
207  1329714120   바람커피    249     52                서울 강동구 성내로3길 18 . 1층(성내동)
227  1668678002   우즈커피    157     89                       울산 남구 신정로58번길 2 1층
250  1045452794  디저트 뷰   4346     79  경기 남양주시 강변북로632번길 66 카페 뷰66 미호점 (관광휴양지)
259   587864518    마르셀    140    295           서울 영등포구 여의대로 8 여의도파크센터 상가 지하1층
260  1171989964    라헨느      1    117        경기 고양시 일산서구 주엽로 80 일산가로수길 A동 129호

### 성수동 이상데이터 처리

In [179]:
# 성수동 확인
seongsu_na_rows = seongsu[seongsu['카페ID'].isna()]
seongsu_na_rows

Empty DataFrame
Columns: [카페ID, 카페이름, 방문자리뷰, 블로그리뷰, 주소]
Index: []

In [180]:
# 다른 지역의 카페를 수집한 경우 처리
# '서울 성동구'가 아닌 행 선택
invalid_address_rows = seongsu[~seongsu['주소'].str.contains('서울 성동구')]
print(len(invalid_address_rows))
print(invalid_address_rows)
# 행 삭제
seongsu = seongsu.drop(invalid_address_rows.index)

0
Empty DataFrame
Columns: [카페ID, 카페이름, 방문자리뷰, 블로그리뷰, 주소]
Index: []

#### 한남동 이상데이터 처리

In [181]:
# 한남동 확인
hannam_na_rows = hannam[hannam['카페ID'].isna()]
hannam_na_rows

     카페ID    카페이름  방문자리뷰  블로그리뷰                           주소
148   NaN   나인원카페    300      3  서울 용산구 우사단로10길 59 1층 카페 나인원
173   NaN  다니엘커피숍      9      9           서울 용산구 대사관로34다길 21

In [182]:
# 리뷰가 없어서 저장안된 카페
hannam.loc[hannam['카페이름'] == "나인원카페", '카페ID'] = 1096865151
hannam.loc[hannam['카페이름'] == "다니엘커피숍", '카페ID'] = 18183485

hannam.loc[hannam['카페이름'] == "나인원카페", '방문자리뷰'] = 0
hannam.loc[hannam['카페이름'] == "나인원카페", '블로그리뷰'] = 0
hannam.loc[hannam['카페이름'] == "다니엘커피숍", '방문자리뷰'] = 0
hannam.loc[hannam['카페이름'] == "다니엘커피숍", '블로그리뷰'] = 0

In [183]:
cafe_check = hannam[hannam['카페이름'] == "나인원카페"]
print(cafe_check)

             카페ID   카페이름  방문자리뷰  블로그리뷰                           주소
148  1.096865e+09  나인원카페      0      0  서울 용산구 우사단로10길 59 1층 카페 나인원

In [184]:
# 다른 지역의 카페를 수집한 경우 처리
# '서울 용산구'가 아닌 행 선택
invalid_address_rows = hannam[~hannam['주소'].str.contains('서울 용산구')]
print(len(invalid_address_rows))
print(invalid_address_rows)
# 행 삭제
hannam = hannam.drop(invalid_address_rows.index)

70
             카페ID               카페이름  방문자리뷰  블로그리뷰  \
31   1.851308e+09          베이커리 오월의종    455     56
67   1.165545e+09                 모모    357    588
94   3.021509e+08                벨루스      3      8
126  1.755396e+09                이코이    285    182
158  1.377332e+09             Treats    417      1
..            ...                ...    ...    ...
260  1.851242e+09                 당옥    621    579
264  1.547178e+09              경성미술관    576    235
265  1.379309e+09              아가젤라또    402    354
268  1.176444e+09  우나하우스 현대백화점 압구정본점      4      9
269  1.798709e+09         빽다방 신사사거리점   4952    555

                                  주소
31       서울 영등포구 영중로 15 타임스퀘어 112-1호
67                  서울 마포구 동교로 242-6
94         경기 평택시 조개터로5번길 28 1층 벨루스퀸
126                서울 도봉구 도봉로112길 20
158            경기 부천시 까치로6번길 17-7 1층
..                               ...
260            서울 강남구 강남대로162길 22 1층
264             서울 강남구 도산대로15길 32 B1
265             서울 강남구 논현로155길 11 1층
268  서울 강남구 압구정로 165 현대백화점압구정본점 지하1층
269          서울 서초구 강남대로 605 휴먼타워 1층

[70 rows x 5 columns]

#### 최종 데이터 저장

In [185]:
yeonhee.to_csv('../data/output_cafelist/cafe_info_list_yeonhee.csv', index=False)
mangone.to_csv('../data/output_cafelist/cafe_info_list_mangone.csv', index=False)
yeonnam.to_csv('../data/output_cafelist/cafe_info_list_yeonnam.csv', index=False)
seongsu.to_csv('../data/output_cafelist/cafe_info_list_seongsu.csv', index=False)
hannam.to_csv('../data/output_cafelist/cafe_info_list_hannam.csv', index=False)